body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", "Arial", sans-serif;
    color: white;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;

    background-color: white;

    min-width: 960px;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    display: none;
}


/*Шапка сайта*/
.main-header {
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}


.top-menu {
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: white;

    list-style: none;

    background-color: #293449;
}

.top-menu-form-search input[type="search"] {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: white;

    background-color: #293449;

    border: none;
}

/* Наведение на элементы в верхнем меню*/
.top-menu-form-search input[type="search"]:hover {
    background-color: #212a3a;
}

.top-menu-form-search input[type="search"]:hover + .svg-search {
    opacity: 1;
}

.top-menu-bookmarks::before {
    opacity: 0.3;
}

.top-menu-bookmarks:hover {
    background-color: #212a3a;
}

.top-menu-bookmarks:hover::before {
    opacity: 1;
}

.top-menu-basket:hover {
    background-color: #212a3a;
}

.top-menu-basket::before {
    opacity: 0.3;
}

.top-menu-basket:hover::before {
    opacity: 1;
}

.top-menu-order:hover {
    background-color: #5fbb2d;
}

/* Наведение на ссылки для регистрации и входа*/
.user-menu .user-btn:hover {
    color: #ee3643;
}

.user-menu .user-btn:hover > svg path {
    fill: #32425c;
}

.user-menu .user-btn:active > svg path {
    fill: #c5c5c5;
}

/* Наведение на меню пользователя */
.user-menu-registered .user-orders:hover, .user-menu-registered .user-profile:hover {
    color: #ee3643;
}

/* Наведение на элементы главного меню*/
.head-menu a:hover {
    background-color: #293449;
}

/*Наведение на ссылку в блоке преимуществ продуктов каталога */
.catalog-products-and-benefits .card a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/*Наведение на кнопку(ссылку) */
.btn:hover {
    background-color: #ca2c37;
}

/*Наведение на кнопку(ссылку) */
.btn:active {
    background-color: #ba2732;
}

/*Наведение на кнопки(ссылки) карточки товара)*/
.card-product .card-product-buy:hover {
    background-color: #5fbb2d;
}

.card-product .card-product-bookmark-in:hover {
    border: 3px solid #32425c;
}

/*Клик на кнопки(ссылки) карточки товара)*/
.card-product .card-product-buy:active {
    background-color: #518534;
    border: none;
}

.card-product .card-product-bookmark-in:active {
    border: 3px solid rgba(50, 66, 92, 0.3);
    color: rgba(50, 66, 92, 0.3);
}

/* Логотип: покой, наведение, клик*/
.logo-link {
    display: block;
    height: 47px;
    width: 220px;
    background-color: white;
    background-image: url("../img/logo-header-sprite.png");
    background-repeat: no-repeat;
    background-position: top left;
}

.logo-link:hover {
    background-image: url("../img/logo-header-sprite.png");
    background-position: center;
}

.logo-link:active {
    background-image: url("../img/logo-header-sprite.png");
    background-position: bottom;
}

/*Клик на ссылку в блоке преимуществ продуктов каталога */
.catalog-products-and-benefits .card a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

/*Клик на элементы в верхнем меню, кроме поиска*/
.top-menu-bookmarks:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.top-menu-bookmarks:active::before {
    opacity: 0.3;
}

.top-menu-basket:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.top-menu-basket:active::before {
    opacity: 0.3;
}

.top-menu-order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

/*Клик на ссылки регистрации и входа*/
.user-menu .user-btn:active {
    color: rgba(0, 0, 0, 0.3);
}

/*Клик на элементы меню пользователя*/
.user-menu-registered .user-name a:active, .user-menu-registered .user-exit:active, .user-menu-registered .user-orders:active, .user-menu-registered .user-profile:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Клик на элементы главного меню*/
.head-menu a:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

/*Фокус в поле поиска*/
.top-menu-form-search input[type="search"]:focus {
    color: black;
    background-color: white;
}

.top-menu-form-search input[type="search"]::placeholder {
    color: white;
}

.top-menu-order {
    background-color: #63a63e;
}

.main-header .head-title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    color: #ee3643;
}

.contacts-company-header .phone {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: #ee3643;

    border: 3px solid white;
    box-sizing: border-box;
    padding-left: 72px;

}

.contacts-company-header .phone::before {
    content: "";
    width: 19px;
    height: 19px;
    background: url("../img/icon-phone.svg") no-repeat 0 0;
    position: absolute;
    top: 10px;
    left: 13px;
}

.contacts-company-header .address {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #32425c;

    padding-left: 11px;
}

.user-menu .user-btn {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: black;

    background-color: white;
    position: relative;
}

.user-btn svg {
    position: absolute;
    top: 14px;
    left: 13px;

}

.head-navigation .head-menu {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    color: white;

    background-color: #32425c;

    list-style: none;
}

.container {
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Нужно ли комментировать каждый блок для стилей? */
/*Секция каталога продуктов и слайдер*/
.catalog-products-and-benefits ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-products-and-benefits .card h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: white;

    margin: 0;
    padding: 0;
}

.catalog-products-and-benefits .card a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 135px;
    height: 38px;
    border-radius: 3px;
}

.materials a, .instruments a {
    margin-left: 25px;
}

.device a, .discount a, .delivery a {
    margin-left: 23px;
}

.card.device h3, .card.discount h3, .card.delivery h3 {
    margin-top: 21px;
    margin-left: 23px;
    margin-bottom: 13px;
}

.card.materials h3, .card.instruments h3 {
    margin-top: 21px;
    margin-left: 23px;
    margin-bottom: 13px;
}

.catalog-items .card.instruments h3 {
    margin-left: 22px;
}

.catalog-items .card.discount h3 {
    margin-left: 22px;
}

.card.materials::before {
    content: "";
    width: 44px;
    height: 65px;
    position: absolute;
    top: 31px;
    right: 43px;
    background: url("../img/icon-1.svg") no-repeat 0 0;
}

.card.instruments::before {
    content: "";
    width: 75px;
    height: 61px;
    position: absolute;
    top: 33px;
    right: 28px;
    background: url("../img/icon-2.svg") no-repeat 0 0;
}

.card.device::before {
    content: "";
    width: 78px;
    height: 62px;
    position: absolute;
    top: 31px;
    right: 31px;
    background: url("../img/icon-3.svg") no-repeat 0 0;
}

.card.discount::before {
    content: "";
    width: 59px;
    height: 72px;
    position: absolute;
    top: 26px;
    right: 45px;
    background: url("../img/icon-4.svg") no-repeat 0 0;
}

.card.delivery::before {
    content: "";
    width: 78px;
    height: 63px;
    position: absolute;
    top: 32px;
    right: 31px;
    background: url("../img/icon-5.svg") no-repeat 0 0;
}

.slider-card h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: white;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
}

.catalog-products-and-benefits .slider-card h3 {
    padding-top: 23px;
    padding-left: 24px;
    padding-bottom: 2px;
}

.slider-card p {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: white;

    margin: 0;
    padding: 0;
}

.catalog-products-and-benefits .slider-card p {
    margin-left: 25px;
    margin-bottom: 121px;
}

.slider-card .slider-navigation-left {
    position: absolute;
    display: block;
    width: 22px;
    height: 40px;
    top: 114px;
    left: 25px;
    background: url("../img/icon-left.svg") no-repeat 0 0;
}

.slider-card .slider-navigation-right {
    position: absolute;
    display: block;
    width: 22px;
    height: 40px;
    top: 114px;
    right: 20px;
    background: url("../img/icon-right.svg") no-repeat 0 0;
}

.slider-radio-btn {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    z-index: 70;
}
/*
.slider-radio-btn:nth-of-type(2)::before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    z-index: 20;
}

.slider-radio-btn:nth-of-type(1)::before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    z-index: 20;
}*/

.slider-radio-btn:nth-of-type(1) {
    top: 0px;
    left: 0px;
}

.slider-radio-btn:nth-of-type(2) {
    top: 0;
    left: 20px;
}

#product-1:checked ~ .slider-list .slider-card:nth-of-type(2) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-card:nth-of-type(1) {
  display: block;
}

#product-1:checked ~ .slider-controls .one::before,
#product-2:checked ~ .slider-controls .two::before {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    z-index: 80;
}

.slider-card .btn {
    width: 195px;
    height: 38px;
    border-radius: 3px;
    margin-left: 25px;

    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 11px;
    padding-left: 50px;
    box-sizing: border-box;
}

.btn {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;

    background-color: #ee3643;
}

.flag {
    position: relative;
}

.flag::after {
    content: "";
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;

    z-index: 51;
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-items .flag::after {
    top: 0;
    right: 0;
}

.action {
    position: absolute;
    top: 0;
    left: 0;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 50;
}

.card-product .action {
    display: none;
}

.card-product:hover .action {
    display: block;
}

.card-product:hover {
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
   

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card-product-buy::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 16px;
    background: url("../img/icon-cart.svg") no-repeat 0 0;
    top: 12px;
    left: 12px;
    opacity: 0.3;
}

.card-product-buy:hover::before, .card-product-buy:active::before {
    opacity: 1;
}

.card-product-buy {
    border-bottom: 3px solid #367315;
    padding-top: 11px;
    padding-left: 49px;
}

.card-product-bookmark-in {
    border: 3px solid #63a63e;
    align-items: center;
    justify-content: center;
}

.card-product-buy, .card-product-bookmark-in {
    display: flex;
    width: 135px;
    height: 38px;
    margin: 0 auto;
    margin-bottom: 7px;
    border-radius: 3px;
    position: relative;
    box-sizing: border-box;
}

.container {
    color: black;
    background-color: white;
}

.materials {
    background-color: #ffbf47;
}

.instruments {
    background-color: #3bbce3;
}

.device {
    background-color: #dc91d8;
}

.drills {
    background-color: #293449;
    background-image: url("../img/slider2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.rock-drills {
    background-color: #293449;
    background-image: url("../img/slider1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.discount {
    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
}

/*Секция популярные товары*/

.title-block {
    background-color: #f9f5f0;
}

.popular-products-title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

.popular-products-list {
    list-style: none;
}

.card-product {
    border: 1px solid #eaeaea;
}

.card-product h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: black;

    min-height: 40px;
    padding: 0 25px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.card-product span {
    display: block;
    padding-left: 3px;
}

.card-product .card-product-old-price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: #a9a9a9;
    text-decoration: line-through;

    min-height: 20px;
    margin-top: 11px;
    margin-bottom: 8px;

}

.card-product-price-btn {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: bold;
    color: white;

    background-color: #ee3643;

    display: block;

    position: relative;
    width: 140px;
    height: 38px;

    margin-top: 8px;
    margin-left: 42px;
    margin-bottom: 20px;
    padding: 10px 30px;
    border-radius: 3px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.card-product-price-btn::after {
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    width: 0;
    height: 0;
    border: 19px solid white;
    border-left-color: #ee3643;
}

/*Секция популярные производители*/
.popular-manufacturers-list {
    list-style: none;
}

.popular-manufacturers-title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
    padding-top: 2px;
}

.popular-manufacturers-list li:hover {
    border: none;
    box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-manufacturers-list li:active {
    border: none;
    box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.popular-manufacturers-list li {
    border: 1px solid #eaeaea;
    box-sizing: border-box;
}

/*Секция сервис*/
.services-shop {
    background-color: #f4f8f9;
}

.services-shop-title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.services-shop-description {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

.services-shop-list, .services-shop-list-description {
    list-style: none;
}

.services-shop-list a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: white;

    background-color: #32425c;
}

.services-shop-list a:hover {
    background-color: #293449;
}

.services-shop .services-shop-list a:active, .services-shop .services-shop-list .active-item {
    color: #32425c;
    background-color: white;
    border: none;
}

.services-shop-list-description h3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}

.services-shop-list-description p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

.services-shop-delivery {
    background-color: #f4f8f9;
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: right bottom;

}

.services-shop-guarantee {
    background-color: #f4f8f9;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.services-shop-credit {
    background-color: #f4f8f9;
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

/* Секции о компании и контакты*/

.about-company-title, .contacts-company-title {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
}

.index-column p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

.about-company p {
    word-spacing: 1px;
    padding-left: 1px;
}

.delivery-company-list {
    list-style: none;
}

.delivery-company-list li {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: black;
    padding-left: 36px;
    margin-bottom: 20px;
    position: relative;
}

.delivery-company-list li:before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    top: 9px;
    left: 0;
}

.about-company-more {
    width: 220px;
    height: 38px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.write-us {
    width: 300px;
    height: 38px;
    border-radius: 3px;

    padding-left: 5px;
    padding-top: 1px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*Футер*/
.main-footer {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;
}

.head-menu-footer, .menu-catalog-footer {
    list-style: none;
}

.footer-top a, .contacts-company-footer {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #f3f7f9;
}

.menu-catalog-footer a {
    color: #ffd180;
}

.head-menu-footer a:hover, .menu-catalog-footer a:hover {
    text-decoration: underline;
}

.head-menu-footer a:active, .menu-catalog-footer a:active {
    text-decoration: none;
    opacity: 0.5;
}

.copyright-company, .feedback-company, .developed-by {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: white;
}

.copyright-company {
    padding-left: 2px;
    margin-right: 162px;
}

.social-links {
    margin-right: 118px;
}

.feedback-company {
    margin-right: 53px;
}

.social-links-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 134px;
    min-height: 42px;
    box-sizing: border-box;
}

.social-button {
    display: flex;
    width: 42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    background-color: #212a3a;
    border-radius: 50%;
}

.social-button:hover {
    background-color: #ee3643;
}

.social-button:active {
    background-color: #ee3643;
}

.feedback-company a, .developed-by a {
    color: #ffd180;
}

.feedback-company a:hover, .developed-by a:hover {
    text-decoration: underline;
}

.feedback-company a:active, .developed-by a:active {
    text-decoration: none;
    color: #ee3643;
}

/*Форма связи*/
.modal-feedback {
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;

    background-color: white;
    width: 620px;
    height: 430px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-top: 7px solid #ff5357;
    padding-top: 3px;
}

.modal-feedback label {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: black;

    margin-bottom: 10px;

    display: block;
}

.modal-show {
    display: block;
}

.modal-feedback input[placeholder], .modal-feedback textarea[placeholder] {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #a9a9a9;
}

.text-area-block {
    margin: 0;
    padding: 0;
}

.modal-feedback textarea {
    width: 460px;
    height: 114px;
    border-style: none;
    border: 2px solid #dee3e4;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 3px;
    margin: 0;
    padding-bottom: 0;
    padding-left: 14px;
    padding-top: 7px;

    display: block;

}

.modal-feedback .feedback-username, .modal-feedback .feedback-email {
    width: 220px;
    height: 38px;

    border-style: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border: 2px solid #dee3e4;
    border-radius: 3px;
    padding-left: 14px;
}

.submit-form-feedback {
    border: none;
    width: 460px;
    height: 38px;

    border-radius: 3px;

    margin: 0 auto;
}

.modal-feedback-bottom-block {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 112px;
    height: 112px;
    background-color: #f4f4f4;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-modal-feedback {
    width: 460px;
    max-width: 460px;
    margin: 0 auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal-feedback > .container-modal-feedback {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 43px;
    padding-bottom: 37px;
}

.username-block, .email-block {
    width: 220px;
    height: 70px;
    margin-bottom: 16px;
}

.modal-close {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 21px;
    height: 21px;
    background: url("../img/icon-close.svg") no-repeat 0 0;
}

/*Стилизация каталога*/
.user-name, .user-name a {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: black;

    background-color: white;
}

.user-profile, .user-orders {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #32425c;
    text-decoration: underline;
}

.top-menu-basket.registered {
    background-color: #ee3643;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;

}

.catalog-item h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

/*Стилизация формы фильтров*/

.catalog-item-filter h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;

    margin: 0;
    padding: 0;

    width: 220px;
    height: 38px;
    box-sizing: border-box;
    background-color: #f7f3ec;
    display: flex;
    align-items: center;
    padding-left: 19px;
    margin-bottom: 11px;

}

.catalog-item-filter fieldset {
    border: none;
    margin: 0;
    padding: 0;
    width: 220px;
    max-width: 220px;
    box-sizing: border-box;

}

fieldset:nth-of-type(1), fieldset:nth-of-type(2) {
    border-bottom: 1px solid #e5e5e5;
}

.price {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: black;
}

.range-controls {
    position: relative;

    width: 220px;
    height: 80px;

    background-color: #f7f3ec;

    border-radius: 0 0 3px 3px;

    margin-bottom: 10px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    box-sizing: border-box;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 140px;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;

    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;

    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;

    border-radius: 50%;
}

.range-controls .toggle-min {
    left: 20px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.price-controls .price-range-display {
    width: 95px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f7f3ec;

    border-radius: 3px;

    box-sizing: border-box;

    padding-bottom: 2px;
    padding-left: 4px;

}

.catalog-item-filter legend {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    margin-bottom: 13px;
}

.catalog-item-filter .price {
    margin-bottom: 16px;
}

.catalog-item-filter .group-one {
    margin-bottom: 17px;
    padding-bottom: 2px;
}

.catalog-item-filter .group-two {
    margin-bottom: 59px;
}

.group-one legend {
    margin-bottom: 14px;
}

.group-two legend {
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.filter-options {
    position: relative;
    width: 200px;
    height: 28px;
    box-sizing: border-box;
}

.filter-options {
    padding-left: 35px;
}

.filter-options .svg-radio-off {
    content: "";

    position: absolute;

    width: 25px;
    height: 25px;

    top: -2px;
    left: 0;
}

.filter-options .svg-radio-on {
    content: "";

    position: absolute;

    width: 25px;
    height: 25px;

    top: -2px;
    left: 0;

    display: none;
}

.filter-input-radio:checked + label .svg-radio-on {
    display: block;
}

.filter-input-radio:checked + label .svg-radio-on + .svg-radio-off {
    display: none;
}

.filter-options .svg-checkbox-off {
    content: "";

    position: absolute;

    width: 23px;
    height: 23px;

    top: 0;
    left: 0;
}

.filter-options .svg-checkbox-on {
    content: "";

    position: absolute;

    width: 27px;
    height: 23px;

    top: 0;
    left: 0;
    display: none;
}

.filter-input-checkbox:checked + label .svg-checkbox-on {
    display: block;
}

.filter-input-checkbox:checked + label .svg-checkbox-on + .svg-checkbox-off {
    display: none;
}

.filter-options label:hover svg path, .filter-options label:hover svg circle {
    fill: #b5b5b5;
}

.filter-input-checkbox:disabled + label svg path, .filter-input-checkbox:disabled + label svg circle {
    fill: #b5b5b5;
}

.filter-input-checkbox:disabled + label svg, .filter-input-checkbox:hover:disabled + label svg {
    opacity: 0.3;
}

.form-group-field .filter-options {
    margin-bottom: 12px;
}

.form-group-field ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form-group-field label {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.submit-button {
    border: 1px solid #e5e5e5;

    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;

    background-color: white;

    width: 140px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Блок сортировки*/

.catalog-item-sorting {
    background-color: #f7f3ec;
}

.catalog-item-sorting .sorting a, .catalog-item-sorting h3 {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.catalog-item-sorting a {
    border-bottom: 1px dotted #ee3643;
    color: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: flex-start;
}

.catalog-item-sorting a:hover {
    border-bottom: 1px solid #ee3643;
    color: rgba(0, 0, 0, 1);
}

.catalog-item-sorting a:active {
    border: none;
    color: rgba(238, 54, 67, 1);
}

.catalog-item-sorting .sorting-up-down, .catalog-item-sorting .sorting-up-down:hover {
    border: none;
}

.sorting-up {
    margin-right: 19px;
}

.sorting-functional {
    margin-right: 45px;
}

.sorting-type {
    margin-right: 65px;
}

.sorting-price {
    margin-right: 70px;
}

.sorting ul{
    list-style: none;
}

.sorting-parameters {
    display: flex;
}

/* Кнопки карточки товара */

.card-product .card-product-buy {
    background-color: #63a63e;
    color: white;
}

.card-product .card-product-bookmark-in {
    border: 3px solid #63a63e;
}

.card-btn {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}

/* Переключатель страниц */
.page-switch {
    list-style: none;

}

/* Навигация по страницам каталога: покой, наведение, клик*/
.page-switch li a {
    border: 1px solid #e5e5e5;
}

.page-switch li a:hover {
    border: 1px solid #bdc6ca;

}

.page-switch li a:active {
    border: 1px solid #ee3643;
}

.page-switch .page-switch-current, .page-switch .page-switch-current:hover, .page-switch .page-switch-current:active {
    background-color: #ee3643;
    color: white;
    border-radius: 3px;
    border: none;
}

.page-switch a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

/* Блок описания раздела каталога */

.description-catalog-item-product {
    background-color: #f2f6f8;
}

.description-catalog-item-product h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.description-catalog-item-product p {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

/*Форма добавления товара в корзину*/

.modal-add-product-in-basket {
    position: fixed;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 40;

    background-color: white;
    width: 620px;
    height: 282px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-top: 7px solid #ff5357;
    padding-top: 3px;

    background-color: white;
}

.modal-add-product-header {
    display: flex;
    align-items: center;
    height: 163px;

    position: relative;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding-left: 180px;
}

.modal-add-product-header::before {
    content: "";
    width: 66px;
    height: 66px;
    background: url("../img/icon-mark.svg") no-repeat 0 0;
    position: absolute;
    top: 55px;
    left: 80px;
}

.modal-add-product-in-basket h2 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: black;

    margin: 0;
    padding: 0;
}

.modal-add-product-footer-continue {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;

    background-color: white;
}

.modal-add-product-footer {
    background-color: #f1f1f1;
    height: 112px;
    display: flex;
    align-items: center;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding-left: 80px;
    padding-right: 80px;

    justify-content: space-between;
}

.modal-add-product-footer a {
    display: flex;
    width: 220px;
    height: 38px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
}

/* Сеточные стили */

/* Шапка */
.container-stabber {
    min-width: 940px;
    width: 940px;
    padding: 0 10px;
    margin: 0 auto;
}

.top-menu {
    margin: 0;
    padding: 0;
    height: 42px;
    margin-bottom: 46px;

}

.container-top-menu {
    height: 42px;
    background-color: #293449;
}

.top-menu .container-stabber {
    list-style: none;
    display: flex;
}

.top-menu .top-menu-form-search {
    min-width: 270px;
    width: 270px;
    height: 42px;
    position: relative;
}

.top-menu .top-menu-form-search input {
    min-width: 270px;
    width: 270px;
    height: 42px;
    padding-left: 48px;
    padding-top: 0;
}

.top-menu .top-menu-form-search svg {
    position: absolute;
    top: 13px;
    left: 17px;
}

.field-search + .svg-search {
    opacity: 0.3;
}

.field-search:focus + .svg-search path {
    fill: #ee3643;
}

.top-menu .top-menu-bookmarks, .top-menu .top-menu-basket, .top-menu .top-menu-order {
    min-width: 150px;
    min-height: 42px;
    max-width: 150px;
    max-height: 42px;
    height: 42px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.top-menu-bookmarks {
    padding-left: 44px;
}

.top-menu-basket {
    padding-left: 50px;
}

.top-menu-order {
    padding-left: 20px;
}

.top-menu-bookmarks::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: 13px;
    left: 17px;
    background: url("../img/icon-bookmark.svg") no-repeat 0 0;
}

.top-menu-basket::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    top: 13px;
    left: 17px;
    background: url("../img/icon-cart.svg") no-repeat 0 0;

}

.top-menu li:nth-of-type(2) {
    /*    height: 42px;
        display: flex; */
}

.head-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 5px 0 0 #293449;

    width: 940px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.head-menu a {
    display: block;
    height: 55px;
    padding: 0 31px;
    padding-top: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.head-menu li:nth-of-type(1) a {
    padding-top: 20px;
    padding-left: 52px;
    padding-right: 34px;
}

.head-menu li:nth-of-type(2) a {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 29px;
}

.head-menu li:nth-of-type(3) a {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.head-menu li:nth-of-type(4) a {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.head-menu li:nth-of-type(5) a {
    padding-top: 20px;
    padding-left: 29px;
    padding-right: 31px;
}

.head-menu li:nth-of-type(6) a {
    padding-top: 20px;
    padding-left: 31px;
    padding-right: 31px;
}

.head-menu li:nth-of-type(7) a {
    padding-top: 20px;
    padding-left: 32px;
    padding-right: 51px;
}

.main-header {
    padding-bottom: 65px;
}

.head-title {
    margin: 0;
    padding: 0;
    min-width: 197px;
    width: 197px;

    margin-left: 53px;
    margin-right: 69px;
    padding-top: 3px;

}

.contacts-company-header {
    margin: 0;
    padding: 0;
    min-width: 270px;
    min-height: 70px;
    width: 270px;
    height: 70px;
}

.contacts-company-header p {
    margin: 0;
    padding: 0;
}

.contacts-company-header .phone {
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    position: relative;
}

.container-header {
    display: flex;
    align-items: flex-start;

    /*align-items: ;*/
    margin-bottom: 40px;

}

.user-menu {
    display: flex;
    margin-left: 70px;
}

.user-menu a {
    display: flex;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
}

.user-menu a:first-child {
    width: 120px;
    height: 45px;
    margin-right: 10px;
    padding-left: 47px;
}

.user-menu a:last-child {
    width: 150px;
    height: 45px;
    padding-left: 25px;

}

.user-menu-registered {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    align-content: flex-start;
}

.user-name {
    width: 300px;
    height: 45px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 49px;
    position: relative;
    margin-bottom: 7px;
}

.user-name .icon-user {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    top: 14px;
    left: 13px;
}

.user-name .icon-logout {
    content: "";
    position: absolute;
    width: 21px;
    height: 17px;
    top: 14px;
    right: 10px;
}

.user-name a:hover .icon-user path, .user-name a:hover .icon-logout path {
    fill: #32425c;
}

.user-name a:active .icon-user path, .user-name a:active .icon-logout path {
    opacity: 0.3;
}

.container-user-menu-registered {
    height: 20px;
    width: 230px;
    display: flex;

}

.container-user-menu-registered a:first-child {
    padding-left: 20px;
}

.container-user-menu-registered a:last-child {
    padding-left: 31px;
    position: relative;
}

.container-user-menu-registered a:last-child::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    top: 7px;
    left: 15px;
    background-color: #32425c;
    border-radius: 50%;
}

/* Сетки. Блок каталога и преимеществ.*/
.catalog-products-and-benefits .container-stabber {
    padding-top: 59px;
    margin-bottom: 53px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog-products-and-benefits h2, .catalog-products-and-benefits h3 {
    margin: 0;
    padding: 0;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    min-width: 940px;
    width: 940px;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    min-width: 300px;
    width: 300px;
}

.card {
    min-height: 123px;
    height: 123px;
    min-width: 300px;
    width: 300px;
    box-sizing: border-box;
    position: relative;
}

.discount {
    margin: 20px 0;
}

.slider {
    margin-top: 20px;
    position: relative;
    box-sizing: border-box;
}
    

.slider-card {
    min-height: 266px;

    min-width: 620px;
    width: 620px;

    display: none;
}


.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  
  width: 30px;
  height: 10px;
}

/*Сетки. Блок популярные товары */

.title-block {
    min-height: 89px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 28px;
    padding-right: 24px;
    margin-bottom: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popular-manufacturers .title-block {
    padding-left: 24px;
}

.title-block .btn {
    width: 253px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.card-product {
    min-width: 220px;
    width: 220px;
    min-height: 318px;

    text-align: center;
    position: relative;
    z-index: 10;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popular-products-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular-products {
    margin-bottom: 20px;
}

/*Сетки. Блок популярные производители */
.popular-manufacturers-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.popular-manufacturers-list li:nth-of-type(2) {
    margin-bottom: 20px;
}

.popular-manufacturers-list li, .popular-manufacturers-list li a {
    min-width: 220px;
    width: 220px;
    min-height: 145px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-manufacturers {
    margin-bottom: 85px;
}

/*Сетки. Блок сервисов магазина */
.services-shop {
    padding-top: 66px;
    margin-bottom: 81px;
}

.services-shop h2, .services-shop h3, .services-shop p, .services-shop ul {
    margin: 0;
    padding: 0;
}

.services-shop .services-shop-title {
    margin-bottom: 26px;
}

.services-shop-description {
    min-width: 400px;
    width: 400px;
    margin-bottom: 66px;
    padding-left: 1px;
}

.services-shop-list {
    min-width: 240px;
    width: 240px;
    min-height: 186px;
    height: 186px;
    background-color: #4d637b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.services-shop-list::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 272px;
    background: url("../img/line-menu-services.png") no-repeat 0 0;
    right: 0;
    top: -43px;
}

.services-shop-list li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 240px;
    width: 240px;
    min-height: 62px;
    height: 62px;
    box-sizing: border-box;
    padding-left: 20px;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
}

.index-column {
    display: flex;
    justify-content: space-between;
}

.services-shop-list-description li {
    min-width: 620px;
    width: 620px;
    min-height: 285px;
}

.services-shop-list-description h3 {
    padding-top: 1px;
    margin-bottom: 25px;
}

.services-shop-delivery p {
    min-width: 276px;
    width: 276px;
}

.services-shop-guarantee p {
    min-width: 380px;
    width: 380px;
}

.services-shop-credit p {
    min-width: 280px;
    width: 280px;
    margin-bottom: 30px;
}

/*Сетки. Блоки о компании и контакты */

.about-company h2, .about-company ul, .about-company p {
    margin: 0;
    padding: 0;
}

.about-company .about-company-title {
    margin-bottom: 26px;
}

.about-company {
    padding-left: 1px;
}

.about-company .about-company-description {
    margin-bottom: 24px;
    min-width: 522px;
    width: 522px;
}

.about-company .delivery-description {
    margin-bottom: 21px;
    min-width: 395px;
    width: 395px;
    word-spacing: normal;
}

.delivery-info {
    padding-bottom: 16px;
}

.delivery-company-list {

}

.contacts-company h2, .contacts-company p {
    margin: 0;
    padding: 0;
}

.contacts-company .contacts-company-title {
    margin-bottom: 26px;
}

.contacts-company .contacts-company-description {
    min-width: 180px;
    width: 180px;
    margin-bottom: 31px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-map {
    margin-bottom: 37px;
}

.container-stabber .index-column:first-child {
    margin-bottom: 86px;
}

/*Сетки. Подвал.*/
.main-footer {

}

.footer-top .logo-link {
    min-width: 220px;
    width: 220px;
    min-height: 68px;
    height: 68px;
    margin-bottom: 28px;
}

.main-footer ul, .main-footer p {
    margin: 0;
    padding: 0;
}

.footer-top .container-stabber {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-top .contacts-company-footer {
    order: 1;
    margin-bottom: 50px;
    padding-left: 3px;
}

.contacts-company-footer p {
    padding: 0;
    margin: 0;
}

.menu-catalog-footer {
    order: 2;
    display: flex;
    flex-wrap: wrap;
    max-width: 610px;
}

.footer-top .head-menu-footer {
    margin-top: 38px;
    display: flex;
    max-width: 610px;
    flex-wrap: wrap;
}

.head-menu-footer li, .menu-catalog-footer li {
    margin-left: 59px;
}

.footer-bottom {
    padding-top: 33px;
    padding-bottom: 36px;
}

.footer-bottom .container-stabber {
    display: flex;
    align-items: center;
}

.footer-bottom p, .footer-bottom ul {
    margin: 0;
    padding: 0;
}

.feedback-company {
    margin-left: 0;
}

/*Сетка каталога. Хлебные крошки*/
.path-catalog .breadcrumbs {
    margin: 0;
    padding: 0;
    display: flex;
    padding: 20px 0;
    position: relative;
}

.path-catalog a {
    display: flex;
    padding-top: 1px;
}

.path-catalog .home-page {
    width: 15px;
    height: 12px;
    background: url("../img/icon-home.svg") no-repeat 0 0;
    position: relative;
    top: 3px;
    left: -1px;
}

.path-catalog .catalog-page {
    padding-left: 40px;
    position: relative;
}

.path-catalog .catalog-page::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: url("../img/icon-right-small.svg") no-repeat 0 0;
    top: 3px;
    left: 13px;

}

.path-catalog .instruments-page {
    padding-left: 40px;
    position: relative;
}

.path-catalog .instruments-page::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: url("../img/icon-right-small.svg") no-repeat 0 0;
    top: 3px;
    left: 17px;
}

.path-catalog .rock-drills-page {
    padding-left: 43px;
    position: relative;
}

.path-catalog .rock-drills-page::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background: url("../img/icon-right-small.svg") no-repeat 0 0;
    top: 3px;
    left: 19px;
}

/*Сетка каталога. Заголовк раздела каталога*/
.catalog-item .container-stabber {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item h2 {
    min-width: 940px;
    width: 940px;
    margin: 0;
    padding: 30px 5px 29px 28px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

/*Сетка каталога. Блок фильтров*/
.catalog-item-filter {
    min-width: 220px;
    width: 220px;
}

/*Сетка каталога. Блок сортировки.*/
.container-catalog {
    min-width: 700px;
    width: 700px;
    margin-bottom: 60px;
}

.catalog-item-sorting {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 38px;
    align-items: center;
    padding-left: 19px;
    padding-right: 17px;
}

.catalog-item-sorting h3, .catalog-item-sorting ul {
    margin: 0;
    padding: 0;
}

.catalog-item-sorting .sorting {
    display: flex;
}

/*Сетка каталога. Блок отображения карточек товаров.*/

.catalog-item-view-products .list-view-products {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.catalog-item-view-products .list-view-products li:nth-of-type(3n) {
    margin-bottom: 20px;
}

/*Сетка каталога. Переключатель страниц карточек товаров.*/
.page-switch {
    margin: 0;
    padding: 0;
    display: flex;
}

.page-switch li {
    margin-right: 10px;
    box-sizing: border-box;
}

.page-switch li a {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-sizing: border-box;
}

.page-switch li .next {
    width: 140px;
}

/*Сетка каталога. Блок описания вида товара*/
.description-catalog-item-product h2, .description-catalog-item-product p {
    margin: 0;
    padding: 0;

}

.description-catalog-item-product p {
    word-spacing: 2px;
}

.description-catalog-item-product .item-product-title {
    margin-top: 65px;
    margin-bottom: 26px;
}

.description-catalog-item-product .item-product-description {
    margin-bottom: 68px;
}

.credit-application.btn {
    width: 195px;
    height: 38px;

    box-sizing: border-box;
    border-radius: 3px;
}