body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", sans-serif;
    color: white;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;

    background-color: #293449;
}

a {
    text-decoration: none;
    color: white;
}

.visually-hidden {
	display: none;
}

/*Шапка сайта*/
.top-menu {
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: white;
    text-transform: capitalize;

    list-style: none;

    background-color: #293449;
}

/* пока не разобрался, как задать стиль для placeholder */
.top-menu-form-search input[type="search"] {
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: white;

    background-color: #293449;

    border: none;
}
/* Наведение на элементы в верхнем меню*/
.top-menu-form-search input[type="search"]:hover {
    background-color: #212a3a;
}

.top-menu-bookmarks:hover {
    background-color: #212a3a;
}

.top-menu-basket:hover {
    background-color: #212a3a;
}

.top-menu-order:hover {
    background-color: #5fbb2d;
}

/* Наведение на ссылки для регистрации и входа*/
.user-menu .user-btn:hover {
    color: #ee3643;
}

/* Наведение на меню пользователя */
.user-menu-registered .user-orders:hover, .user-menu-registered .user-profile:hover {
    color: #ee3643;
}

/* Наведение на элементы главного меню*/
.head-menu a:hover {
    background-color: #293449;
}

/*Клик на элементы в верхнем меню, кроме поиска*/
.top-menu-bookmarks:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.top-menu-basket:active {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.top-menu-order:active {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

/*Клик на ссылки регистрации и входа*/
.user-menu .user-btn:active {
    color: rgba(0, 0, 0, 0.3);
}

/*Клик на элементы меню пользователя*/
.user-menu-registered .user-name:active, .user-menu-registered .user-exit:active, .user-menu-registered .user-orders:active, .user-menu-registered .user-profile:active {
    color: rgba(0, 0, 0, 0.3);
}

/* Клик на элементы главного меню*/
.head-menu a:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
}

/*Фокус в поле поиска*/
.top-menu-form-search input[type="search"]:focus {
    color: black;

    background-color: white;
}

.top-menu-form-search input[type="search"]::placeholder {
    color: white;
}

.top-menu-order {
    background-color: #63a63e;
}

.bottom-block-header {
    background-color: #f4f7f9;
}

.head-title {
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    color: #ee3643;
}

.contacts-company .phone {
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: #ee3643;

    border: 3px solid white;
}

.contacts-company .address {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    color: #32425c;
}

.user-menu .user-btn {
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: black;

    background-color: white;
}

.head-navigation .head-menu {
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    color: white;

    background-color: #32425c;

    list-style: none;
}

/* Нужно ли комментировать каждый блок для стилей? */
/*Секция каталога продуктов и слайдер*/
.catalog-products-and-benefits ul {
    list-style: none;
}

.catalog-products-and-benefits .card h3 {
    font-family: "Cuprum", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: white;
}

.catalog-products-and-benefits .card a {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
}

.catalog-products-and-benefits .slider-card h3 {
    font-family: "Cuprum", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: white;
    text-transform: uppercase;
}

.catalog-products-and-benefits .slider-card span {
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: white;
}

.btn {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;

    background-color: #ee3643;
}

.new {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.container {
    color: black;
    background-color: white;
}

.materials {
    background-color: #ffbf47;
}

.instruments {
    background-color: #3bbce3;
}

.device {
    background-color: #dc91d8;
}

.drills {
    background-color: #293449;
    background-image: url("../img/slider1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.rock-drills {
    background-color: #293449;
    background-image: url("../img/slider2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.discount {
    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
}

/*Секция популярные товары*/

.title-block {
	background-color:#f9f5f0;
}

.popular-products-title {
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: normal;
	color: #32425c;
	text-transform: uppercase;
}

.popular-products-list {
	list-style: none;
}

.card-product {
	border: 1px solid #eaeaea;
}

.card-product h3 {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: black;
}

.card-product-old-price {
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: line-through;
} 

.card-product-price-btn {
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: white;
	
	background-color: #ee3643;

	display: block;
}

/*Секция популярные производители*/
.popular-manufacturers-list {
	list-style: none;
}

.popular-manufacturers-list li {
	border: 1px solid #eaeaea;
}

/*Секция сервис*/
.services-shop {
    background-color: #f4f8f9;
}

.services-shop-title {
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.services-shop-description {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

.services-shop-list, .services-shop-list-description {
    list-style: none;
}

.services-shop-list a {
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: white;

    background-color: #32425c;
}

.services-shop-list a:active {
    color: #32425c;
    background-color: white;
}

.services-shop-list a:hover {
    background-color: #293449;
}

.services-shop-list-description h3 {
    font-family: "Cuprum", sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
}

.services-shop-list-description p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

.services-shop-delivery {
    background-color: #f4f8f9;
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: right;

}

.services-shop-guarantee {
    background-color: #f4f8f9;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;
    background-position: right;
}

.services-shop-credit {
    background-color: #f4f8f9;
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: right;
}
/* Секции о компании и контакты*/

.index-column {
    background-color: white;
}

.about-company-title, .contacts-company-title {
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: black;
}

.index-column p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

.delivery-company-list {
    list-style: none;
}

.delivery-company-list li {
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    color: black;
}

/*Футер*/
.main-footer {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;
}

.head-menu-footer, .menu-catalog-footer {
    list-style: none;
}

.head-navigation-footer a, .contacts-company-footer {
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #f3f7f9;
}

.menu-catalog-footer a {
    color: #ffd180;
}

.copyright-company, .feedback-company, .developed-by {
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: white;
}

.social-links-list {
    list-style: none;
}

.feedback-company a, .developed-by a {
    color: #ffd180;
}


/*Форма связи*/
.modal-feedback {
    background-color: white;
}

.modal-feedback label {
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    color: black;
}

.modal-feedback input[placeholder], .modal-feedback textarea[placeholder] {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #a9a9a9;
}

.modal-feedback input, .modal-feedback textarea {
    border-style: none;
    border: 1px solid #dee3e4;
}

.submit-form-feedback {
    border: none;
}


/*Стилизация каталога*/
.user-name {
	font-family: "Cuprum", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: black;

    background-color: white;
}

.user-profile, .user-orders {
	font-family: "Cuprum", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
	color: #32425c;
	text-decoration: underline;
}

.top-menu-basket.registered {
	background-color: #ee3643;
}

.breadcrumbs {
	list-style: none;
}

.breadcrumbs a{
	font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.catalog-item h2 {
	font-family: "Cuprum", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;

    background-color: #f2f6f8;
}

/*Стилизация формы фильтров*/

.catalog-item-filter h3 {
	font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.catalog-item-filter fieldset {
	border: none;
}

fieldset:nth-of-type(1), fieldset:nth-of-type(2) {
	border-bottom: 1px solid #e5e5e5;
}

.price {
	font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: black;
}

.catalog-item-filter legend {
	font-family: "PT Sans", sans-serif;
    font-size: 17px;
    line-height: 30px;
	font-weight: bold;
	color: black;
    text-transform: uppercase;
}

.price-range, .price-range-displayout {
	background-color: #f7f3ec;
}

.form-group-field label {
	font-family: "PT Sans", sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.submit-button {
	border: 1px solid #e5e5e5;

	font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;

    background-color: white;
}

/*Блок сортировки*/

.catalog-item-sorting {
	background-color: #f7f3ec;
}

.catalog-item-sorting a, .catalog-item-sorting h3 {
	font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.catalog-item-sorting a {
	border-bottom: 1px dotted #ee3643;
	color: rgba(0, 0, 0, 0.3);
}

.catalog-item-sorting .sorting-up-down {
	border:none;
}

.sorting {
	list-style: none;
}

/* Кнопки карточки товара */

.card-product .card-product-buy {
    background-color: #63a63e;
    color: white;
}

.card-product .card-product-bookmark-in {
    border: 3px solid #63a63e;
}

.card-btn {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;
}
/* Переключатель страниц */
.page-switch {
    list-style: none;

}

.page-switch li {
    border: 1px solid #eaeaea;
    display: inline-block;
}

.page-switch a {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

/* Блок описания раздела каталога */

.description-catalog-item-product {
    background-color: #f2f6f8;
}

.description-catalog-item-product h2 {
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;
}

.description-catalog-item-product p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    color: black;
}

/*Форма добавления товара в корзину*/

.modal-add-product-in-basket {
    background-color: white;
}

.modal-add-product-in-basket h2 {
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: black;
}

.modal-add-product-footer-continue {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: black;
    text-transform: uppercase;

    background-color: white;
}

.modal-add-product-footer {
    background-color: #f1f1f1;
}
