body {
    margin: 0;
    padding: 0;

    font-family: "Cuprum", sans-serif;
    color: white;
    font-size: 17px;
    line-height: 17px;

    background-color: #293449;
}

a {
    text-decoration: none;
    color: white;
}

/*Шапка сайта*/
.top-menu {
    font-size: 17px;
    line-height: 18px;
    color: white;
    text-transform: capitalize;

    list-style: none;

    background-color: #293449;
}

/* пока не разобрался, как задать стиль для placeholder */
.top-menu-form-search input[type="search"] {
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 18px;
    color: white;

    background-color: #293449;

    border: none;
}


.top-menu-order {
    background-color: #63a63e;
}

.bottom-block-header {
    background-color: #f4f7f9;
}

.head-title {
    font-family: "Cuprum", sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}

.contacts-company .phone {
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    border: 3px solid white;
}

.contacts-company .address {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-menu .user-btn {
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: black;

    background-color: white;
}

.head-navigation .head-menu {
    font-family: "Cuprum", sans-serif;
    font-size: 17px;
    line-height: 17px;
    color: white;

    background-color: #32425c;

    list-style: none;
}

/* Нужно ли комментировать каждый блок для стилей? */
/*Секция каталога продуктов и слайдер*/
.catalog-products-and-benefits ul {
    list-style: none;
}

.catalog-products-and-benefits .card h3 {
    font-family: "Cuprum", sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    color: white;
}

.catalog-products-and-benefits .card a {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: white;
    text-transform: uppercase;

    background-color: rgba(0, 0, 0, 0.1);
}

.catalog-products-and-benefits .slider-card h3 {
    font-family: "Cuprum", sans-serif;
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    color: white;
    text-transform: uppercase;
}

.catalog-products-and-benefits .slider-card span {
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.btn {
    font-family: "Cuprum", sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: white;
    text-transform: uppercase;

    background-color: #ee3643;
}

.new {
    background-image: url(../img/new-flag.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.container {
    color: black;
    background-color: white;
}

.materials {
    background-color: #ffbf47;
}

.instruments {
    background-color: #3bbce3;
}

.device {
    background-color: #dc91d8;
}

.drills {
    background-color: #293449;
    background-image: url("../img/slider1.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.rock-drills {
    background-color: #293449;
    background-image: url("../img/slider2.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.discount {
    background-color: #8ed78f;
}

.delivery {
    background-color: #ffc047;
}

/*Секция популярные товары*/

.title-block {
	background-color:#f9f5f0;
}

.popular-products-title {
	font-family: "Cuprum", sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.popular-products-list {
	list-style: none;
}

.card-product {
	border: 1px solid #eaeaea;
}

.card-product h3 {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	color: black;
}

.card-product-old-price {
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: #a9a9a9;
	text-decoration: line-through;
} 

.card-product-price-btn {
	font-family: "PT Sans", sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: bold;
	color: white;
	
	background-color: #ee3643;

	display: block;
}

/*Секция популярные производители*/
.popular-manufacturers-list {
	list-style: none;
}

.popular-manufacturers-list li {
	border: 1px solid #eaeaea;
}

/*Секция сервис*/
.services-shop {
    background-color: #f4f8f9;
}

.services-shop-title {
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
}

.services-shop-description {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
}

.services-shop-list, .services-shop-list-description {
    list-style: none;
}

.services-shop-list a {
    font-family: "Cuprum", sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: white;

    background-color: #32425c;
}

.services-shop-list a:active {
    color: #32425c;
    background-color: white;
}

.services-shop-list a:hover {
    background-color: #293449;
}

.services-shop-list-description h3 {
    font-family: "Cuprum", sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.services-shop-list-description p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
}

.services-shop-delivery {
    background-color: #f4f8f9;
    background-image: url("../img/delivery.png");
    background-repeat: no-repeat;
    background-position: right;

}

.services-shop-guarantee {
    background-color: #f4f8f9;
    background-image: url("../img/guarantee.png");
    background-repeat: no-repeat;
    background-position: right;
}

.services-shop-credit {
    background-color: #f4f8f9;
    background-image: url("../img/credit.png");
    background-repeat: no-repeat;
    background-position: right;
}
/* Секции о компании и контакты*/

.index-column {
    background-color: white;
}

.about-company-title, .contacts-company-title {
    font-family: "Cuprum", sans-serif;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: black;
}

.index-column p {
    font-family: "PT Sans", sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: black;
}

.delivery-company-list {
    list-style: none;
}

.delivery-company-list li {
    font-family: "Cuprum", sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: black;
}